{% for post in get_posts() %}
    {% if have_posts() %}
        {{ the_post() }}
        <h2>{{ the_title() }}</h2>
        <p>著者：{{ the_author_posts_link() }}</p>
        <p>カテゴリ：{{ the_category() }}</p>
        <p>{{ the_tags() }}</p>
        <p>{{ get_the_content() }}</p>
    {% endif %}
{% endfor %}
