<h1>{{ bloginfo('name') }}</h1>

<h2>最新の投稿10件</h2>
{% do query_posts('post_type=post&posts_per_page=10') %}
{% for post in get_posts() %}
    {% if have_posts() %}
        {{ the_post() }}
        <h3>{{ the_title() }}</h3>
        <p>著者：{{ the_author_posts_link() }}</p>
        <p>カテゴリ：{{ the_category() }}</p>
        <p>{{ the_tags() }}</p>
        <p>{{ the_content() }}</p>
    {% endif %}
{% endfor %}
{{ wp_reset_query() }}

<hr/>

<h2>固定ページ</h2>
<ul>
    <li><a href="{{ home_url('aaa/') }}">/aaa/</a></li>
    <li><a href="{{ home_url('aaa/bbb') }}">/aaa/bbb</a></li>
    <li><a href="{{ home_url('ccc') }}">/ccc</a></li>
</ul>
